.main {
  footer {
    background-color: #000;
    color: #ccc;
    a {
      color: #ccc;
    }
  }
}

.side-bar {
  nav {
    color: #ccc;
  }
  .nav-list-link {
    //color: #000;
  }
  color: #ccc;
}

#markdown-toc::before {
  content: "Contents";
  margin-left: -$spacing-unit;
  line-height: 200%;
  font-weight: bold;
  font-size: 1em * 1.125;
}
