.main {
  footer {
    background-color: #000;
    color: #ccc;
    a {
      color: #ccc;
    }
  }
}

.side-bar {
  nav {
    color: #ccc;
  }
  .nav-list-link {
    color: #000;
  }
  color: #ccc;
}
