//$body-background-color: $grey-lt-300;
$body-background-color: #444;
$sidebar-color: #333;
$border-color: $grey-dk-200;

//$body-text-color: $grey-dk-200;
$body-text-color: #ddd;
$body-heading-color: $grey-lt-000;
$nav-child-link-color: #5edcfc;
$search-result-preview-color: $grey-dk-000;

$btn-primary-color: $blue-200;
$base-button-color: $grey-dk-250;

$code-background-color: #111;
$search-background-color: #333;
$search-result-preview-color: #ddd;

$border-radius: 10px;
$table-background-color: #333;
$feedback-color: darken($sidebar-color, 3%);

$link-color: #2daae1;
$body-font-family: "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans,
  "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
$root-font-size: 16px;

$nav-width: 260px;
$content-width: 850px;

$font-size-2: 12px;
$font-size-3: 14px;
$font-size-4: 16px;
$font-size-5: 18px;
